/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


/*CSS*/
body
{
    font-family: 'JetBrains Mono';
}

h1
{
    text-align: center;
    color: grey;
    font-size: 30px;
    font-weight: bold;
    padding: 5vw;
}

div
{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

p
{
    font-size: 15px;
    color: rgb(89, 89, 89);
}

a
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

ul
{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

/*Screenshot du site à prendre avec https://pikwy.com/ en 1920*1080*/
img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h2
{
    color: grey;
    font-size: 20px;
    font-weight: bold;
    padding-top: 1vw;
}

div#creation ul li, div#offres ul li
{
    width: 500px;
    height: auto;
    margin: 10px;
}

/*Css du main*/
div#main a
{
    margin: 10px;
}

/*Offres div*/
div#offres h3
{
    color: rgb(46, 46, 46);
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

/*Footer*/
footer
{
    text-align: center;
}

footer p
{
    padding: 1vh;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 520px) 
{
    ul
    {
        flex-wrap: wrap;
    }
}